{% extends "evergiftful/base.html" %}



{% block content %}
<br><br><br>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        
        <div class="col-md-6">
            <h2 class="text-center mb-4">Sign In</h2><hr><br>
            <form method="post" action="{% url 'evergiftful:login' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                
                <button type="submit" class="btn btn-block mb-3 btn-lg" style="background-color: #f33f3f; color: white;">Sign In</button>
                
                <p class="text-center mb-4 mt-4" style="font-size: 20px;">Not registered yet? <a href="{% url 'evergiftful:signup' %}">Sign Up</a></p>
            </form>
            
            
        </div>
    </div>
</div>





{% endblock content %}
