{% extends 'evergiftful/base.html' %}


{% load static%}




{% block content %}
<style>

  .banner-item img {
  filter: brightness(70%);
}
</style>


<!-- Banner Starts Here -->
<div class="banner header-text">
  <div class="owl-banner owl-carousel">
    <div >
      <img src="https://images.pexels.com/photos/3927233/pexels-photo-3927233.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width: 100%; height: 300px; object-fit: cover; " alt="Slide 01">
      <div class="text-content">
        <p class="font-weight-bold" style="color:  #f33f3f; font-size: 25px !important;">SparkEssenceGifts</p>
        <h1 style="color: white; font-size: 70px !important;">About Us</h1>
      </div>
    </div>
  </div>
</div>
<!-- Banner Ends Here -->




<div class="best-features about-features mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our Background</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-image">
          <img src=https://images.pexels.com/photos/1303085/pexels-photo-1303085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="left-content">
          <h4>Who we are &amp; What we do?</h4>
          <p>SparkEssenceGifts – Your One-Stop Shop for Thoughtful Gift Ideas!

            SparkEssenceGifts is your go-to destination for finding heartfelt gifts for your boyfriend, girlfriend, husband, wife, and kids. We've curated a selection of unique and personalized presents to make every occasion special. From romantic surprises to delightful treats for the little ones, our diverse collection ensures you'll find the perfect gift to express love, gratitude, and joy. Explore our user-friendly platform and let the joy of giving begin at SparkEssenceGifts!</p>
          
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock content%}