<footer style=" background-color: #1e1e1e;">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 ">
       
        <div class="inner-content">
          <a class="mt-3" href="{% url 'evergiftful:home' %}"><h2 style="color: rgb(255, 255, 255);">Spark<span style="color: #f33f3f;">Essence</span><span style="color: #aaaaaa;">Gifts</span></h2></a>
          <p class="text-white">Copyright &copy; 2024 SparkEssenceGifts.
        </div>
      </div>
    </div>
  </div>
</footer>
